/*****************Polices*****************/

@font-face {
      
    font-family: 'retro_gamingregular';
    src: url('font/font_gaming/retro_gaming-webfont.woff2') format('woff2'),
         url('font/font_gaming/retro_gaming-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*****************Bordures*****************/

* {
    margin: 0;
    padding: 0;
}

/*************************************header****************************************/
header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("Background/background_header.png") center;
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "retro_gamingregular";

}

header h1 {
    color: white;
    margin-left: 40px;
    font-size: 3rem;
}

/*************************************content****************************************/

.content_login {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("Background/background_login.gif") center;
    background-size: contain;
    text-align: center;
}

.content_login h1 {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding-top: 250px;
    margin-bottom: 90px;
    letter-spacing: 0.5rem;
    font-size: 7rem;
    font-family: 'cormorant';
    font-weight: 0;
}

.content_login h2 {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    letter-spacing: 0.3rem;
    font-size: 4rem;
    font-family: 'cormorant';
    margin-top: -50px;
    font-weight: 100;
}

.content_login input {
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.2);
    letter-spacing: 0.2rem;
    font-size: 1rem;
    text-align: center;
    cursor: text;
    padding: 3px 5px;
    margin-top: 40px;
}

.button_next_class {
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: 30px;
    padding: 8px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 0.1s;
    position: absolute;
    right: 70px;
    bottom: 70px;
    font-family: "retro_gamingregular";
}

.button_next_class {
    background-color: rgba(0, 0, 0, 0.534);
    border: 2px solid rgba(255, 255, 255, 0.797);
    color: rgba(255, 255, 255, 0.797);
}

.button_next_class:hover {
    background-color: rgba(255, 255, 255, 0.671);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.button_next_class span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button_next_class span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button_next_class:hover span {
    padding-right: 25px;
}

.button_next_class:hover span:after {
    opacity: 1;
    right: 0;
}