/*****************Police*****************/

@font-face {
    font-family: 'retro_gamingregular';
    src: url('font/font_gaming/retro_gaming-webfont.woff2') format('woff2'),
         url('font/font_gaming/retro_gaming-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dashearly';
    src: url('font/user_name/dash-early-webfont.woff2') format('woff2'),
         url('font/user_name/dash-early-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*****************Bordures*****************/

* {
	margin: 0;
	padding: 0;
}

/*************************************header****************************************/

header {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("Background/background_header.png") center;
	position: fixed;
	width: 100%;
	height: 60px;
	display: ruby;
	text-align: center;
	font-family: 'retro_gamingregular';
}

.nom_site {
	float: left;
	text-align: justify;
	color: rgb(255, 255, 255);
	margin-left: 40px;
	padding-top: 5px;
	font-size: 1.5rem;
}

.a_header {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.score {
	text-align: justify;
	color: rgb(255, 255, 255);
	padding-top: 15px;
	font-size: 1.2rem;
}


/*****************Menue déroulant*****************/

.menu {
	float: right;
	margin-right: 40px;
	background-color: transparent;
	position: sticky;
	top: 0px;
	text-align: justify;
	min-width: 225px;
	font-family: "dashearly";
}

.menu ul {
	list-style-type: none;
}

.menu ul li {
	position: relative;
	text-align: center;
	font-size: 2rem;
}

.deco {
	display: block;
	text-decoration: none;
	color: rgb(0, 0, 0);
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
	font-size: 1.5rem;
}

.user {
	display: block;
	text-decoration: none;
	color: rgb(255, 255, 255);
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
}

.diff_option {
	display: none;
	box-shadow: 0px 1px 2px #CCC;
	background-color: white;
	position: absolute;
	width: 100%;
	z-index: 1000;
	border: 2px;
}

.menu>ul li:hover .diff_option {
	display: block;
}

.diff_option li {
	float: none;
	width: 100%;
	text-align: left;
}

.diff_option a {
	padding: 10px;
	border-bottom: none;
}

.diff_option a:hover {
	border-bottom: none;
	background-color: rgb(200, 200, 200);
}

/*************************************content****************************************/

.div_principale {
	height: 100vh;
	margin: 0 auto;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Background/background_vetement2.jpg") center;
	background-size: auto;
	text-align: center;
	overflow-y: hidden;
}

.div_principale .centrale {
	padding-top: 65px;
	display: inline-flex;
	text-align: center;
}

.centrale .centrale2 {
	margin: 0 auto;
	display: inline-flex;
	border-width: 5px;
	border-style: solid;
	border-color: rgba(209, 209, 209, 0.753);
}

.centrale2 .image_centre {
	width: 89px;
}

.centrale2 .image_centrale {
	width: 600px;
	margin-top: 40px;
}

.centrale2 .consigne_photo {
	color: rgb(209, 209, 209, 0.753);
	margin-top: 20px;
}

.centrale2 .images_G {
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.div_images {
	min-height: 110px;
	min-width: 90px;
	margin-bottom: 3px;
	background-color: rgba(209, 209, 209, 0.604);
	border-width: 2px;
	border-style: solid;
	border-color: rgb(209, 209, 209, 0.753);
}

.centrale2 .images_D {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.div_principale .images_gauche {
	margin-top: 10px;
	color: rgb(0, 0, 0);
	padding-top: 60px;
	display: inline-flex;
	text-align: justify;
	float: left;
}

.images_gauche .images_gauche2 {
	min-height: 100vh;
	margin: 0 auto;
	display: block;
}

.div_principale .image_droite {
	margin-top: 10px;
	color: rgb(0, 0, 0);
	padding-top: 60px;
	display: inline-flex;
	text-align: justify;
	float: right;
}

.images_droite .images_droite2 {
	margin-top: 10px;
	min-height: 100vh;
	margin: 0 auto;
	display: block;
}

.images_gauche2 .div_drop {
	margin-bottom: 30px;
	margin-left: 20px;
	min-width: 300px;
	min-height: 377px;
	background-color: rgba(209, 209, 209, 0.604);
	border-width: 2px;
	border-style: solid;
	border-color: rgb(209, 209, 209, 0.753);
}

.images_droite2 .div_drop {
	margin-bottom: 30px;
	margin-right: 20px;
	min-width: 300px;
	min-height: 377px;
	background-color: rgba(209, 209, 209, 0.604);
	border-width: 2px;
	border-style: solid;
	border-color: rgb(209, 209, 209, 0.753);
}

.div_drop .image_centre {
	width: 300px;
}

.button_next_class {
	letter-spacing: 0.2rem;
	font-size: 30px;
	padding: 8px 20px;
	border-radius: 30px;
	cursor: pointer;
	transition-duration: 0.1s;
	position: absolute;
	right: 70px;
	bottom: 20px;
	background-color: rgba(0, 0, 0, 0.534);
	border: 2px solid rgba(255, 255, 255, 0.797);
	color: rgba(255, 255, 255, 0.797);
	font-family: "retro_gamingregular";
}

.button_next_class:hover {
	background-color: rgba(255, 255, 255, 0.671);
	color: rgb(0, 0, 0);
	border: 2px solid rgb(0, 0, 0);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.button_next_class:active {
	box-shadow: 0 0px;
	transform: translateY(4px);
}

.button_next_class span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button_next_class span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button_next_class:hover span {
	padding-right: 25px;
}

.button_next_class:hover span:after {
	opacity: 1;
	right: 0;
}

.button_after_class {
	letter-spacing: 0.2rem;
	font-size: 30px;
	padding: 8px 20px;
	border-radius: 30px;
	cursor: pointer;
	transition-duration: 0.1s;
	position: relative;
	left: 70px;
	bottom: 20px;
	background-color: rgba(0, 0, 0, 0.534);
	border: 2px solid rgba(255, 255, 255, 0.797);
	color: rgba(255, 255, 255, 0.797);
	font-family: "retro_gamingregular";
}

.button_after_class:hover {
	background-color: rgba(255, 255, 255, 0.671);
	color: rgb(0, 0, 0);
	border: 2px solid rgb(0, 0, 0);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.button_after_class:active {
	box-shadow: 0 0px;
	transform: translateY(4px);
}

.button_after_class span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}